@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Noto+Sans&display=swap");

body {
  font-family: "Cairo", sans-serif !important;
  font-weight: 600 !important;
  background-color: #fffff6 !important;
}

.titleTxt {
  color: black;
  font-size: 50px;
  margin: 5% auto;
  text-align: center;
}

.Navbar {
  background-color: #ebd962 !important;
  color: white !important;
  position: static;
  top: 0px;
}

.Footer {
  background-color: #232020 !important;
  color: white !important;
}

.buttonHome {
  margin: 20% 20% 20% 20%;
}
.card-cars {
  max-width: 70%;
  padding: 2em;
  border-radius: 8px;
  opacity: 88%;
  margin: 5% auto;
}

.selected {
  background-color: #f7c4c4;
}

.tableAppointment {
  background-color: #dff2e2;
}

.formRegising {
  margin: 10%;
  padding: 5rem;
  background-color: #2d2929;
  color: white;
}
