/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Noto+Sans&display=swap");

body {
  font-family: "Cairo", sans-serif !important;
  font-weight: 600 !important;
  background-color: #fffff6 !important;
}

.Navbar {
  background-color: #ebd962 !important;
  color: white !important;
  position: static;
  top: 0px;
}

.card-cars {
  max-width: 70%;
  padding: 2em;
  border-radius: 8px;
  opacity: 88%;
  margin: 5% auto;
}



.selected {
  background-color: #f7c4c4;
}

.tableAppointment {
  background-color: #dff2e2;
}