@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Noto+Sans&display=swap");

body {
  font-family: "Cairo", sans-serif !important;
  font-weight: 600 !important;
  background-color: #fffff6 !important;
}

.titleTxt {
  color: black;
  font-size: 50px;
  margin: 5% auto;
  text-align: center;
}

.Navbar {
  background-color: #ebd962 !important;
  color: white !important;
  position: static;
  top: 0px;
}

.Footer {
  background-color: #232020 !important;
  color: white !important;
  margin-top: 0.3%;
}

.buttonHome {
  margin: 20% 30% 20% 30%;
  height: 4rem;
}

.card-cars {
  max-width: 70%;
  padding: 2em;
  border-radius: 8px;
  opacity: 88%;
  margin: 5% auto;
}

.selected {
  background-color: #f7c4c4;
}

.tableAppointment {
  background-color: #dff2e2;
}

.formRegising {
  margin: 10%;
  padding: 5rem;
  background-color: #2d2929;
  color: white;
}

.formViewCooments {
  background-color: #2d2929ef;
  color: white;
  width: 100%;
  display: grid;
  padding: 3rem;
  text-align: center;
}

.comment {
  margin-top: 5%;
  text-align: right;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.292) !important;
}

.fieldSearch {
  margin: 0% 20% 0% 20%;
}

.fieldSearch .searchInput {
  font-weight: bold;
  border-width: 0.2rem;
  padding: 1rem;
}
